#if($messages)
	<div style="color:red;">$messages</div>
#end
<p>
<div>
	<strong>监控器搜索</strong>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<strong>#foreach($monitor in $acticveMonitors)&nbsp; $monitor #end</strong>
</div>
</p>
<form id="searchForm" name="searchForm" action="$jingweiModule.setTarget('jingweiMonitors.vm').render()" method="post">
	<input type="hidden" name="criteria" value="$!criteria_data" />
	<table class="jwTable">
		<tr>
			<th width="20%">ZK服务器</th>
			<td>
				$control.setTemplate("jingweiZkServer.vm")
			</td>
			<th width="20%">全局告警开关</th>
			<td>
				<div>
					<span>
						ww
						<input type="checkbox" name="isWwToggle" id="isWwToggle" #if ($globalConfig.isWwToggle()) checked #end>
                    </span>
					<span>
						 短信
						 <input type="checkbox" name="isSmToggle" id="isSmToggle" #if ($globalConfig.isSmToggle()) checked #end>
                    </span>
					<span>
                        <input type="button" onclick='updateGlobalConfig("$jingweiModule.setTarget('jingweiMonitors.vm').addQueryData('action', 'JingweiMonitorAction').addQueryData('host',$host).addQueryData('event_submit_do_update_global_config',1).render()");' value="修改" />
                    </span>
				</div>
			</td>
		</tr>
		<tr>
			<th>监控状态</th>
			<td>
				<select id="taskStatus" name="taskStatus">
					<option value=""></option>
					#foreach($status in $!taskStatues)
						<option value="$status" #if($status == $!criteria.status) selected #end>$status</option>
					#end
				</select>
			</td>
			<th width="20%">TASK ID</th>
			<td>
				<input type="text" id="taskNameCrireria" name="taskNameCrireria" value="$!criteria.taskName" />
			</td>
		</tr>
		<tr>
			<td colspan="2">&nbsp;</td>
			<td>
				<span style="margin-right:20px;">
					<input type="button" id="resetBtn" class="yugongBtn" value="清空"  />
				</span>
				<input type="submit" class="yugongBtn" value="搜索" />
			</td>
		</tr>
	</table>
</form>
<div id="monitorView" >
	<table class="jwTable">
		<tr>
			<th width="460px">任务列表</th>
			<th width="200px">操作</th>
		</tr>
		#foreach($monitor in $monitors)
			<tr>
				<td >
					<span style="float:left;width:15px;">$velocityCount</span>
					<span #if($monitor.operate.equals("START")) style="float:left; padding-left:10px; width:220px; color:green"  #end style="float:left; padding-left:10px; width:220px; " >
						<a href="$jingweiModule.setTarget('jingweiTaskDetail.vm').render()?taskId=$!monitor.name&host=$!host" target="_blank">$!monitor.name</a>
					</span>
					<span style="float:left; padding-left:20px;">$!monitor.monitorName</span>
					#if($monitor.isGroup() == true)
						<span style="float:right; padding-right:20px; color:red;">group</span>
					#end
				</td>
				<td >
					<span>
						<a href="$jingweiModule.setTarget('jingweiViewMonitorTask.vm').addQueryData('isGroup',$monitor.isGroup()).addQueryData('taskName',$monitor.name).addQueryData('host',$host).render()" class="yugongLink"  target="_blank">
							<img border="0" src="$imageModule.getURI('vie.gif')" alt="查看任务配置" title="查看任务配置" />
						</a>
					</span>
					&nbsp;&nbsp;
					<span>
						<a href="$jingweiModule.setTarget('jingweiUpdateMonitorTask.vm').addQueryData('isGroup',$monitor.isGroup()).addQueryData('taskName',$monitor.name).addQueryData('host',$host).addQueryData('event_submit_do_update_monitor_task',1).render()" class="yugongLink" target="_blank">
							<img border="0" src="$imageModule.getURI('edit.gif')" alt="修改任务配置" title="修改任务配置" />
						</a>
					</span>
					&nbsp;&nbsp;
					#if ($monitor.operate.equals("START"))
						<span>
							<a href="#" onclick='stopMonitor("$currentPage", "$pageSizeInt", "$jingweiModule.setTarget('jingweiMonitors.vm').addQueryData('action','JingweiMonitorAction').addQueryData('taskName',$monitor.name).addQueryData('host',$host).addQueryData('event_submit_do_stop_monitor_task',1).render()")' class="yugongLink">
								<img border="0" src="$imageModule.getURI('media_controls_dark_pause.png')" alt="停止监控" title="停止监控"  />
							</a>
						</span>
					#else
						<span>
							<a href="#" onclick='startMonitor("$currentPage", "$pageSizeInt", "$jingweiModule.setTarget('jingweiMonitors.vm').addQueryData('action','JingweiMonitorAction').addQueryData('taskName',$monitor.name).addQueryData('host',$host).addQueryData('event_submit_do_start_monitor_task',1).render()")' class="yugongLink">
								<img border="0" src="$imageModule.getURI('media_controls_dark_play.png')" alt="启动监控" title="启动监控"  />
							</a>
						</span>
					#end
				</td>
			</tr>
		#end
	</table>
</div>
<script language="javascript">
	// 清空搜索条件
	$('#resetBtn').click(function(){
		$('#monitorName').val("");
		$('#taskNameCrireria').val("");
	}
	);
</script>
<script language="javascript">
	function removeTask(url){
		if (!confirm("确认删除该任务？")){
			return;
		}
		//alert(url);
		location.href = url;
	}
	//  更新全局设置
	function updateGlobalConfig(url) {
		var isWwToggle = $("#isWwToggle").attr("checked");
		var isSmToggle = $("#isSmToggle").attr("checked");
		url = url + "&isWwToggle=" + isWwToggle;
		url = url + "&isSmToggle=" + isSmToggle;
	//	alert(url);
		location.href = url;
	}
	
	// 停止监控
	function stopMonitor(page, pageSize, url) {
		//alert(url);
		
		url += "&page=" + page;
		url += "&pageSize=" + pageSize;
		url += "&taskNameCrireria=" + $("#taskNameCrireria").val();
		url += "&taskStatus=" + $("#taskStatus").val();
		location.href = url;
	}
	
	function startMonitor(page, pageSize, url) {
		//alert(url);
		url += "&page=" + page;
		url += "&pageSize=" + pageSize;
		url += "&taskNameCrireria=" + $("#taskNameCrireria").val();
		url += "&taskStatus=" + $("#taskStatus").val();
		location.href = url;
	}
	
	
	
</script>
#set($uri="jingwei_monitors.htm?a=1")
#pager($uri $pageCount $currentPage "searchForm" $pageSizeInt)
#pagerCss()