<meta charset="GBK" />
<meta http-equiv="content-type" content="text/html; charset=GBK" />
<script type="text/javascript" src="http://assets.taobaocdn.com/tbra/1.0/tbra-aio.js?t=20090312.js"></script>
<link href="$cssModule.getURI('/layout.css')" rel="stylesheet" type="text/css">
<link href="$cssModule.getURI('/skin.css')" rel="stylesheet" type="text/css">
<link href="$cssModule.getURI('/jingwei.css')" rel="stylesheet" type="text/css">
<script type="text/javascript" src="$jsModule.getURI('/jingwei.js')?t=201210161702.js"></script>
<!--<link href="$cssModule.getURI('/dayu-tab.css')" rel="stylesheet" type="text/css">-->